PORT=3000
DATABASE_URI=mongodb_uri

NODE_ENV=development


PRIVATE_KEY=along_generated_string
PUBLIC_KEY=along_generated_string_to_distribute
JWT_ACCESS_EXPIRES_IN= 10m
JWT_REFRESH_EXPIRES_IN= 7d


# oidc
ISSUER_URL=your_base_url